/* map.component.css 

.date-picker-widget {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 500px; 
  height: 200px;
}

.date-picker-widget h3 {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
} */
